<div class="col-md-4 offset-4 mt-4">
    <h3 class="text-center">Add User!!</h3>
<form #UserForm='ngForm' (ngSubmit)='postUser(UserForm)'>
    <input type="hidden" name="id" #id='ngModel' [(ngModel)]='firebaseService.selectedUser.id'>
    <input type="text" name="name" #name='ngModel' [(ngModel)]='firebaseService.selectedUser.name' placeholder="enter name" class="form-control" >
    <input type="email" name="email" #email='ngModel' [(ngModel)]='firebaseService.selectedUser.email' placeholder="enter email" class="form-control">
    <input type="phno" name="phno" #phno='ngModel' [(ngModel)]='firebaseService.selectedUser.phno' placeholder="enter phno" class="form-control">
    <button type="submit" class="btn btn-outline-success" >submit</button>
    <button type="reset" class="btn btn-outline-danger">reset</button>
</form>
</div>
