div{
    margin-left: 35%;
    margin-top: 20%;
}

span{
    padding: 5px;
    font-size: 80px;
    border: 2px solid black;
      animation: movement 1s infinite linear; 
      display: inline-block;
}
@keyframes movement{
    0%{
        transform: translatex(0px)
    }
    50%
    {
        transform: translatex(50px)
    }
    100%{
        transform: translatex(0px)
    }
}

span:nth-child(1){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.1s;
    box-shadow: 0px 0px 15px black;
}
span:nth-child(2){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.2s;
    box-shadow: 0px 0px 15px black;
}
span:nth-child(3){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.3s;
    box-shadow: 0px 0px 15px black;
}
span:nth-child(4){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.4s;
    box-shadow: 0px 0px 15px black;
}

span:nth-child(5){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.5s;
    box-shadow: 0px 0px 15px black;
    
}span:nth-child(6){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.6s;
    box-shadow: 0px 0px 15px black;

}span:nth-child(7){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.7s;
    box-shadow: 0px 0px 15px black;

}span:nth-child(8){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.8s;
    box-shadow: 0px 0px 15px black;

}span:nth-child(9){
    background: linear-gradient(45deg, black, purple);
    animation-delay: 0.9s;
    box-shadow: 0px 0px 15px black;
}